.about {
	h2{
		text-align: center;
	}
	h3{
		@include fontSize(2rem);
	}

	h4{
		@include fontSize(1.1rem);
		margin-bottom: 15px;
	}
}

$size: 6px;

.group{
	display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;

    .skillset {
	    width: 33.333333%;
	    display: block;
	    padding: 0 5%;
	}
}

.progress-bar{
	display:block;
	clear:both;
	position: relative;
	background-color:#ccc;
	width: 100%;
	height: $size;
	&:before{
    	content: ' ';
    	position: absolute;
    	bottom: 0;
    	width: 0;
    	height: $size;
    	display: block;
    	background-color: $blue;
    }

	// .dots{
	// 	float: left;
	// 	height: $size * 2;
 //  		width: $size;
 //  		display: block;
 //  		background-color:#ccc;
	// 	&:nth-child(odd){
	// 		border-bottom-left-radius: $size * 2;
 //  			border-top-left-radius: $size * 2;	
	// 	}

	// 	&:nth-child(even){
	// 		border-bottom-right-radius: $size * 2;
 //  			border-top-right-radius: $size * 2;
 //  			margin-right: 5px;
	// 	}

	// }
}

@mixin child($n) {
    &:nth-child(#{$n}){
        background-color:#81CE97;
    }
}

$dots: 20;

@for $i from 1 through $dots{
	@keyframes fillin#{$i}{
		0%{
			width: 0;
		}
	    100%{
	     	width: percentage($i/$dots);
	    }
	}

	.progress-bar[data-percent="#{$i}"]{
		&:before{
			animation: 5s fillin#{$i} ease forwards;
		}
	}
}

.download_link{
	margin-top: 30px;
	display: inline-block;
	i{
		@include fontSize(4rem);
		display: inline-block;
	}
	span{
		display: inline-block;
    	vertical-align: bottom;
    	text-align: left;
    	margin-left: 10px;
    	&::before{
    		content: " ";
    		width: 40px;
    		background-color : $blue;
    		height: 2px;
    		display: block;
    		margin-bottom: 10px;
    	}
    	
	}
	&:hover{
		span{
    		&::before{
				background-color: darken($blue, 20%);
    		}
    	}
    }
}
