/* start enter state */

.slideUp-enter{
  transform: translateY(100%);
}


/* end enter state */

.slideUp-enter.slideUp-enter-active{
  transform: translateY(0);
  transition: transform .5s ease-out;
}

/* start leave state */

.slideUp-leave{
  transform: translateY(0);
}

/* end leave state */

.slideUp-leave.slideUp-leave-active{
  transform: translateY(100%);
  opacity: 0;
  transition: .5s ease-out;
}
/* initial mounting */

.slideUp-appear{
  opacity: 0;
  transform: translateY(50%);

}

.slideUp-appear-active{
  opacity: 1;
  transform: translateY(0);
  transition: all .5s ease-in;
}


