footer{
	position: fixed;
	width: 100%;
	bottom: 0;
	.footer_wrapper{
		@include color($white);
		@include fontSize(12px);
		max-width: 1200px;
		margin: 0 auto;
		padding: 15px 25px;
		p{
			margin: 0;
		}
	}
}

.internal{
	footer{
		position: static;
		.footer_wrapper{
			color: $darkgray;
		}
	}
}