header{
	position: fixed;
	top:0; 
	width: 100%;
	left: 0;
	z-index: 100;	
	.header_wrapper{
		width: 100%;
		max-width: 1200px;
		margin: 0 auto;
		padding: 0;
		@include transition(all cubic-bezier(0.74, 0.22, 0.13, 0.8) .3s);
		@media (min-width: 768px){
			min-height: 89px;
			padding: 0 20px;
		}
		.logo_wrapper{
			float: left;
			width: 150px;
			img{
				@include transform(scale(0.7));
				@include transition(all cubic-bezier(0.74, 0.22, 0.13, 0.8) .3s);
				@media (min-width: 768px){
					@include transform(scale(0.7));
				}
			}
		}
	}
}

.internal{
	header{
		background-color: darken($darkgray,10%);
		box-shadow: 0 0 5px lighten($black, 20%);
	}
}

.main_nav{
	float:none;
	display:block;
	position: fixed;
	top: 0;
	right : -270px;
	width: 270px;
	height: 100%;
	background-color: darken($darkgray,10%);
	padding-top: 20px;
	transition: all cubic-bezier(.55, .055, .675, .19) .3s;
	@media(min-width: 768px){
		float: right;
		position: static;
		width: auto;
		height: auto;
		background-color: transparent;
		padding-top: 0;
	}
	.nav{
		list-style: none;
		padding: 0;
		margin: 30px 0;
		li{
			display: block;
			@media(min-width: 768px){
				display: inline-block;
			}

			a{
				
				@include weight(400);
				@include color($white);
				display: block;
				padding: 5px 15px;
				&:hover{
					@include color($blue);
				}
			}
		}
	}
}

.hamburger_nav{
	display: block;
	width: 30px;
	height: 30px;
	cursor: pointer;
	position: fixed;
	top: 20px;
	right: 20px;
	@media(min-width: 768px){
		display: none;
	}
	.bars{
		display: block;
		width: 100%;
		height: 3px;
		border-radius: 3px;
		margin: 20px 0;
		background-color: $white;
		position: relative;
		transition-timing-function: ease;
    	transition-duration: .15s;
    	transition-property: transform;
		transition: all .1s ease-in .34s;
		&::before,
		&::after{
			content: " ";
			display: block;
			width: 100%;
			height: 3px;
			border-radius: 3px;
			position: absolute;
			background-color: $white;
			transition-timing-function: ease;
    		transition-duration: .15s;
    		transition-property: transform;

		}
		&::before{
			top: -10px;
    		transition: top .1s ease-in .34s, transform .3s cubic-bezier(.55, .055, .675, .19);
		}
		&::after{
			bottom: -10px;
    		transition: bottom .1s ease-in .34s, transform .3s cubic-bezier(.55, .055, .675, .19);
		}
	}
}

.nav_open{
	.hamburger_nav{
		.bars{
			background-color: transparent;
		    transition-delay: .14s;
		    transition-timing-function: cubic-bezier(.215, .61, .355, 1);
		    
		    &::before{
		    	
			    top: 0;
			    transition: top .1s ease-out, transform .1s ease-out .14s;
			    transform: rotate(45deg);
		    }
		    &::after{
			    bottom: 0;
			    transition: bottom .1s ease-out, transform .3s cubic-bezier(.215, .61, .355, 1) .14s;
			    transform: rotate(-45deg);
		    }
		}
	}
	.main_nav{
		right: 0;
		box-shadow: 0 0 5px lighten($black, 20%);
	}
}