.home{
	@include color($white);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
	position: relative;
	width: 100%;
	min-height: 100vh;
	background-image:url(../img/top-banner.jpg);
  	cursor: pointer;
  	//background-size: calc(100% + 50px);
  	background-size: initial;
	background-repeat: no-repeat;
	background-position: -50px -50px;
	padding: 0 20px;
	&::after{
		content: " ";
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left:  0;
		background-color: rgba($black, .55);
	}
	.content{
		position: relative;
		z-index: 10;
		h2{
			@include fontSize(3.5rem);
		}
	}
	.blink{
		width: 3px;
		height: 2.6rem;
		display: inline-block;
		background-color: #fff;
		margin-bottom: -3px;
		animation: blink .5s linear infinite alternate;
	}
}

@keyframes blink{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}