*{
	box-sizing: border-box;
}
.hidden,
.invisible  {
  display: none !important;
  visibility: hidden; 
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; 
}

.clearfix:after {
  clear: both; 
}

.clearfix {
  *zoom: 1; 
}

.bold{
	@include weight(700);
}

.reg{
	@include weight(400);
}

.light{
	@include weight(300);
}

body{
	@include font('Lato');
	@include fontSize(16px);
	@extend .light;
	margin: 0 auto;
	line-height: 130%;
}

h1{
	@include fontSize(3rem);
	@extend .bold;
	line-height: 130%;
}

h2{
	@include fontSize(2.4rem);
	@extend .bold;
	line-height: 130%;
}

h3{
	@include fontSize(2.1rem);
	@extend .bold;
	line-height: 130%;
}

h4{
	@include fontSize(1.6rem);
	@extend .reg;
	line-height: 130%;
}

h5{
	@include fontSize(1.5rem);
	@extend .reg;
	line-height: 130%;
}

p{
	margin: 0 0 10px;
}

bold,
strong{
	@extend .reg;
}

a{
	@include color($blue);
	text-decoration: none;
	&:hover{
		@include color(darken($blue, 30%));
	}
}

img{
	max-width: 100%;
}

.text-center{
	text-align: center;
}

.text-left{
	text-align: left;
}

.text-right{
	text-align: right;
}

.text-blue{
	color: $blue;
}

.underline{
	&:after{
		content: " ";
		display: block;
		width: calc(100% - 85%);
		background-color: $blue;
		margin: 10px auto;
		height: 3px;
	}
}

section{
	padding: 6rem 20px;
	min-height: 90vh;
    display: flex;
    flex-direction: column;
    &.contact,
    &.about{
    	justify-content: center;
    }
	.container{
		max-width: 1200px;
		display: block;
		margin: 0 auto;
	}
}