//color
$darkgray: #4D4D4D;
$darkblue: #1A98BA;
$blue: #1CC0F9;
$white: #fff;
$black: #000;

@mixin font($font){
	font-family: $font;
}

@mixin fontSize($fontSize){
	font-size: $fontSize;
}

@mixin weight($weight){
	font-weight: $weight;
}

@mixin color($color){
	color: $color;
}

@mixin transition($transition){
	transition: $transition;
}

@mixin transform($transform){
	transform: $transform;
}

$grid-columns: 12;

@for $i from 1 through $grid-columns {
 
    .col-#{$i} { 
     	width: 100%;
     	float: none;
     	display: block;
		@media(min-width: 768px){
			float: left;
			width: 100% / $grid-columns * $i;
		}
    }

    .offset-#{$i}{
    	margin-left: 0;
    	@media(min-width: 768px){
			margin-left: 100% / $grid-columns * $i;
		}
    }
}