.project_container{
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    .project{
	    width: 100%;
	    box-shadow: 0 0 3px darken($white, 10%);
	    margin: 10px 1%;
	    
	    @media(min-width: 768px){
			width: 48%;
	    }

	    @media(min-width: 992px){
	    	width: 30.333%;
	    }
	    
		.project_thumb{
			position: relative;
			cursor: pointer;
			@include transition(all cubic-bezier(0.91,-0.05, 0.21, 0.94) .3s);
			&:hover{
		    	@include transform(scale(1.05));
		    	img{
		    		@include transform(scale(1.01));
	    			filter: grayscale(1);
		    	}
		    	.content_short_info{
		    		background-color: rgba($black,0.75);
		    		top: -1px;
		    		width: 101%;
		    		left: -2px;
		    		height: 100%;
		    		justify-content: center;
		    		p{
		    			@include transform(translateY(0));
						color: lighten($blue, 15%);
						opacity: 1;
						visibility: visible;

		    		}
		    	}
		    	h4{
		    		&:after{
		    			width: 40px;
		    			opacity: 1;
		    		}
		    	}
		    }
		}
	    

	    img{
	    	@include transition(all cubic-bezier(0.57, 0.08, 0, 0.79) 0.3s);
	    }

	    h4{
	    	@include fontSize(1.2rem);
	    	margin: 10px 0;
	    	&:after{
	    		transition: opacity ease .3s, width cubic-bezier(0.96, -0.05, 0.31, 1.34) 0.7s;
    		    width: 0;
			    content: " ";
			    margin: 4px auto;
			    height: 3px;
			    background-color: $blue;
			    display: block;
				opacity: 0;
	    	}
	    }
	    .content_short_info{
	    	@include transition(all cubic-bezier(0.4, -0.29, 0.12, 1.24) 0.3s);
			background-color: rgba($black,0.5);
		    color: $white;
		    padding: 10px 20px;
		    position: absolute;
		    width: 100%;
		    height: 59px;
		    left: 0;
		    z-index: 10;
		    top: calc(100% - 62px);
		    display: flex;
		    flex-direction: column;
		    align-items: center;
		    align-content: center;
		    p{
		    	@include fontSize(14px);	
		    	@include transform(translateY(20px));
		    	transition : opacity cubic-bezier(0.91, -0.05, 0.18, 0.49) 0.3s, transform ease-in .3s;
		    	opacity: 0;
		    	visibility: hidden;
    			transition-delay: .3s;
    			margin: 0 0 5px;
		    }
	    }
	    &.open{
	    	transition : all ease-in 1s;
			.project_info{
				@include transform(translate(0, 0));
		    	display: block;
		    	top: 0;
		    	left: 0;
		    	width: 100%;
		    	z-index: 10000;
		    	height: 100%;
				flex-direction: column;
				justify-content: center;
				opacity: 1;
				visibility: visible;
				background-color: rgba($black, 0.6);
				@media(min-width: 768px){
					display: flex;
				}
				.content{
					background-color:$white;
					opacity: 1;
					min-height: inherit;
					overflow: auto;
					@media(min-width: 768px){
						min-height: 95vh;
					}
				}
		    }
		}

    }

    .project_info{
    	@include transform(translate(50%, 50%));
		visibility: hidden;
		position: fixed;
		opacity: 0;
		margin: 0 auto;
		overflow: auto;
    	transition : top cubic-bezier(0.91, -0.05, 0.18, 0.49) 0.1s, opacity cubic-bezier(0.91, -0.05, 0.18, 0.49) 0.3s, transform cubic-bezier(0.08, 1.16, 0.43, 0.28) .1s, height ease-in 2s, width ease-in 2s;
		.content{
			padding: 20px;
			transition : opacity cubic-bezier(0.08, 1.16, 0.43, 0.28) 0.3s, background-color ease-in .1s;
			max-width: 600px;
			width: 100%;
			margin: 0 auto;
			opacity: 0;
			box-shadow: 0 0 5px $black;
			.text-blue{
				@include weight(400);
				color:  darken($blue, 15%);
				margin-top: -10px;
			}
			.close{
				text-align: right;
			    cursor: pointer;
			    float: right;
			    position: relative;
			    height: 24px;
			    width: 24px;
			    padding: 6px;
			    margin-bottom: 0;
				&:after,
				&:before{
					content: " ";
					display: block;
					width: 25px;
					height: 2px;
					border-radius: 3px;
					background-color: $black;
					position: absolute;
   					top: 11px;
   					left: -1px;
   					@include transition(all cubic-bezier(0.4, -0.29, 0.12, 1.24) 0.1s);
				}
				&:after{
					@include transform(rotate(45deg));
				}
				&:before{
					@include transform(rotate(-45deg));
				}
				&:hover{
					&:after{
						@include transform(rotate(40deg));
					}
					&:before{
						@include transform(rotate(-40deg));
					}
				}
			}
			h4{
				clear: both;
				margin-bottom: 0;
			}

			img{
				display: block;
				margin: 0 auto;
				max-width: 500px;
				width: 100%;
			}

			.btn{
				@include fontSize(14px);
				border-radius: 5px;
				display: inline-block;
				padding: 5px 10px;
				background-color: $blue;
				color: $white;
				@include transition(all cubic-bezier(0.4, -0.29, 0.12, 1.24) 0.3s);
				&:hover{
					background-color: darken($blue , 15%);
				}
			}
		}
    }
}